/* .opaek{
    filter:brightness(0.5);
} */
.height-400{
    height:400px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    filter: invert(0)!important;
}

.carousel{
    filter: drop-shadow(2px 4px 6px black);
}

.carousel-control-prev{
    background: linear-gradient(90deg, black, transparent);
}
.carousel-control-next{
    background: linear-gradient(270deg, black, transparent);
}






.carousel-item {
    transition: transform .7s ease-in-out;
  }



/* PARALLAX EFFECT */


.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/src/assets/imgs/map.jpg");
    filter: brightness(0.2);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.parallax-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    color: #fff;
}

.carousel {
    margin-top: -50px; /* Adjust as needed */
}













/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #376e70; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1db695; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00ffff; 
  }
